@page "/credencial"
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="css/styles.css" />

<h1>Crear credencial</h1>

<div>
    <label for="servicio">Nombre del servicio:</label>
    <input @bind="servicio" id="servicio" class="form-control" /> 
</div>

<div>
    <label for="usuario">Usuario:</label>
    <input @bind="usuario" id="usuario" class="form-control" />
</div>

<div>
    <label for="password">Contraseña:</label>
    <input @bind="password" id="password" class="form-control" /> 
</div>

<button @onclick="CrearCredencial" class="btn btn-info">Crear</button>

<h2>Buscar Credencial</h2>
<div>
    <label for="buscarServicio">Servicio a buscar:</label>
    <input @bind="buscarServicio" id="buscarServicio" class="form-control" />
    <button @onclick="BuscarCredencial" class="btn btn-secondary">Buscar</button>
</div>
<p>@resultadoBusqueda</p>


<h2>Eliminar Credencial</h2>
<div>
    <label for="eliminarServicio">Servicio a eliminar:</label>
    <input @bind="eliminarServicio" id="eliminarServicio" class="form-control" />
    <button @onclick="EliminarCredencial" class="btn btn-danger">Eliminar</button>
</div>
<p>@resultadoEliminacion</p>


<h2>Lista de Credenciales</h2>
<ul class="list-group">
    @foreach(var credencial in crendenciales) {
        <li class="list-group-item">
            @credencial.servicio (@credencial.usuario)
        </li>
    }
</ul>

@code {
    private string servicio;
    private string usuario;
    private string password;
    private string buscarServicio = string.Empty;
    private string eliminarServicio = string.Empty;
    private string resultadoBusqueda = string.Empty;
    private string resultadoEliminacion = string.Empty;

    private List<CredencialDto> crendenciales = new List<CredencialDto>();
    
    protected override async Task OnInitializedAsync(){

        var isAuthenticated = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "key");

        if (isAuthenticated != "true") {
            NavigationManager.NavigateTo("/accesss");
        }

        await cargarCredenciales();
    }

    private async Task CrearCredencial()
    {
        var credencial = new CredencialDto { 
            servicio = this.servicio, 
            usuario = this.usuario, 
            password = this.password 
        
        };
        var response = await HttpClient.PostAsJsonAsync("/api/credenciales", credencial);

        if (response.IsSuccessStatusCode)
        {
            await cargarCredenciales();
        }
    }

    private async Task BuscarCredencial()
    {
        var response = await HttpClient.GetAsync($"/api/credenciales/buscar/{buscarServicio}");
        if (response.IsSuccessStatusCode)
        {
            var credencial = await response.Content.ReadFromJsonAsync<CredencialDto>();
            resultadoBusqueda = $"Credencial encontrada: Servicio - {credencial?.servicio}, Usuario - {credencial?.usuario}";
        }
        else
        {
            resultadoBusqueda = "Credencial no encontrada";
        }
    }

    private async Task EliminarCredencial()
    {
        var response = await HttpClient.DeleteAsync($"/api/credenciales/eliminar/{eliminarServicio}");
        resultadoEliminacion = response.IsSuccessStatusCode ? "Credencial eliminada con éxito" : "Credencial no encontrada";
        if (response.IsSuccessStatusCode)
        {
            await cargarCredenciales();
        }
    }

    private async Task cargarCredenciales()
    {
        var response = await HttpClient.GetFromJsonAsync<List<CredencialDto>>("/api/credenciales");
        this.crendenciales = response ?? new List<CredencialDto>();
    }

    public class CredencialDto
    {
        public string servicio? { get; set; }
        public string usuario? { get; set; }
        public string password? { get; set; }
    }

}
